@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Muli');

/**************************************
 Genral styles 
 **************************************/

body {
    font-family: 'Muli', sans-serif;
    position: relative;
}

.container {
    width: 80%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Abril Fatface', cursive;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

a {
    color: rgba(0,0,0,.5);
}

a:hover {
    text-decoration: none;
    color: black; 
}

/********** Navbar **********/

nav {
    font-family: 'Abril Fatface', cursive;
    font-size: 1.5rem;
    background: white;
    color: black;
}

button:focus {
    outline: 0;
}

.nav-item {
    padding-right: 20px;
}

/********** Jumbotron **********/

.jumbotron {
    margin-top: 80px;
    background: none;
}

.display-2 {
    text-shadow: 5px 5px rgba(0,0,0,.1);
    font-size: 5em;
}

@keyframes blink {
    to {opacity: .0;}
}

.cursor {
    animation: blink .8s infinite;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

/********** Skills *********/

.skills {
    margin: auto; 
}

.skills img {
    height: 4rem;
    margin: 1.5em;
}

/********** About **********/

.about {
    padding-top: 80px;
}

.about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.avatar img {
    height: 15rem;
}

.quotes {
    padding-top: 40px; 
    padding-bottom: 40px; 
}

#quote {
    font-size: 2.5rem; 
    color: rgba(0,0,0,.1); 
}

.center {
    margin: auto;
    align-content: center; 
}

/********** Projects **********/

.projects {
    padding-top: 80px;
    margin-bottom: 50px;
}

.projects img {
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/********** Footer **********/

.footer {
    background-color: black;
    color: white;
}

.footer a {
    color: white;
}

.spotify a:hover, #spotify {
    color: #1db954;
}

.instagram a:hover, #instagram  {
    background: linear-gradient(to right, #405de6 0%, #5851db 10%, #833ab4 20%, #c13584 30%, #c13584 40%,
    #e1306c 50%, #fd1d1d 60%, #f56040 70%, #f77737 80%, #fcaf45 90%, #ffdc80 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.github a:hover, #github  {
    color: #c5c5c5;
}

.twitter a:hover, #twitter {
    color: #1da1f2;
}

.gmail a:hover, #gmail {
    color: #C71610;
}

.facebook a:hover, #facebook {
    color: #3b5998;
}

/********* Modal ***********/

.modal {
    display: none; 
    position: fixed; 
    z-index: 999999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 40px auto; 
    padding: 4%;
    border: 1px solid #888;
    width: 75%; 
}

.close {
    display: flex;
    justify-content: flex-end; 
    margin-right: 15px;
    margin-top: 15px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/**************************************
Mobile
 **************************************/

 .navbar-toggler {
     border: none;
     margin-top: 10px;
     height: 60px; 
 }

 .menuText {
    margin-left: 15px;
    vertical-align: middle; 
}

@media (max-width: 768px) {
    .container {
        width: 96%;
    }
    .modal-content {
        width: 80%;
    }
    .right {
        text-align: right; 
    }
}